body {
  text-align: center;
  font-family: sans-serif;
  font-size: 48px;
  background-color: pink;
}

h1 {
  font-family: Brush Script MT,cursive;
}

h1 img {
  height: 80px;
}

#rwords {
  margin-top: -48px;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

b {
  font-size: 100px;
}

#rwords p {
  margin: 18px;
}

h2 {
  margin-top: 100px;
  font-size: 16px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  color: gray;
}
